<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{'CHANGE_ROLE'|translate}}</h4>
        <!--<small class="font-bold">{{'MESSAGE_FILL_ALL_FIELDS'|translate}}</small>-->
    </div>
    <div class="modal-body">
        <form method="get" name="changeRoleForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'ROLE'|translate}}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="singleSelect" ng-model="role">
                        <option value="ADMINISTRATOR">{{'ADMINISTRATOR'|translate}}</option>
                        <option value="CLIENT">{{'CLIENT'|translate}}</option>
                    </select><br>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="update()">Save changes</button>
    </div>
</div>

