<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div ng-controller="AuthenticationController">
        <div>
            <h1 class="logo-name">PM</h1>
        </div>
        <h3>Welcome to PM</h3>
        <p>PM is project management software designed for tracking project life cycle with main information.
        </p>
        <!--<p>Login in. To see it in action.</p>-->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 border-bottom-light">
                <button class="btn btn-social-base btn-facebook" ng-click="authenticate('facebook')">
                    <i class="fa fa-facebook"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-google-plus" ng-click="authenticate('google')">
                    <i class="fa fa-google"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-linkedin" ng-click="authenticate('linkedin')">
                    <i class="fa fa-linkedin"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-twitter" ng-click="authenticate('twitter')">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>
        </div>

        <p style="margin-top: 5px;">or</p>

        <form class="m-t" style="margin-top: 0px!important;" role="form">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username" ng-model="loginData.email" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required=""
                       ng-model="loginData.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="login()">Login</button>

            <!--<a ui-sref="forgot_password">-->
            <!--<small>Forgot password?</small>-->
            <!--</a>-->
            <p class="text-muted text-center">
                <small>Do not have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
    </div>
</div>