<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div ng-controller="AuthenticationController">
        <div>
            <h1 class="logo-name">PM</h1>
        </div>
        <h3>Welcome to PM</h3>
        <p>PM is project management software designed for tracking project life cycle with main information.
        </p>
        <!--<p>Login in. To see it in action.</p>-->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 border-bottom-light">
                <button class="btn btn-social-base btn-facebook" ng-click="authenticate('facebook')">
                    <i class="fa fa-facebook"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-google-plus" ng-click="authenticate('google')">
                    <i class="fa fa-google"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-linkedin" ng-click="authenticate('linkedin')">
                    <i class="fa fa-linkedin"></i>
                </button>
            </div>
            <div class="col-sm-2 border-bottom-light">
                <button class="btn btn-social-base btn-twitter" ng-click="authenticate('twitter')">
                    <i class="fa fa-twitter"></i>
                </button>
            </div>
        </div>

        <p style="margin-top: 5px;">or</p>

        <form id="loginForm" name="loginForm" class="m-t" style="margin-top: 0px!important;" role="form" novalidate>
            <div class="form-group">
                <input type="email"
                       class="form-control"
                       placeholder="{{'EMAIL'|translate}}"
                       name="email"
                       ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                       ng-model="loginData.email"
                       required>
                <small class="text-danger"
                       ng-if="loginForm.email.$error.required && loginForm.submitted"
                       translate="ERROR_REQUIRED"
                       translate-value-field="{{'EMAIL' | translate}}">
                </small>
                <small class="text-danger"
                       ng-if="!loginForm.email.$error.required && loginForm.email.$error.pattern && loginForm.submitted"
                       translate="ERROR_WRONG_FORMAT"
                       translate-value-field="{{'EMAIL' | translate}}">
                </small>
            </div>
            <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Password" required
                       ng-model="loginData.password">
                <small class="text-danger"
                       ng-if="loginForm.password.$error.required && loginForm.submitted"
                       translate="ERROR_REQUIRED"
                       translate-value-field="{{'PASSWORD' | translate}}">
                </small>
            </div>
            <small class="text-danger"
                   ng-if="loginForm.notExist"
                   translate="ERROR_INVALID_DATA">
            </small>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="login()">Login</button>

            <!--<a ui-sref="forgot_password">-->
            <!--<small>Forgot password?</small>-->
            <!--</a>-->
            <p class="text-muted text-center">
                <small>Do not have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
    </div>
</div>