<div class="inmodal">
    <div class="modal-header">
        <!--<i class="fa fa-cubes modal-icon"></i>-->
        <h4 class="modal-title">{{'LABEL_EDIT_PROJECT'|translate}}</h4>
        <!--<small class="font-bold">{{'MESSAGE_FILL_ALL_FIELDS'|translate}}</small>-->
    </div>
    <div class="modal-body">
        <form name="editProjectForm" id="editProjectForm" method="get" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'LABEL_NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           ng-model="project.name"
                           name="name"
                           required
                           class="form-control">

                    <small class="{{editProjectForm.submitted?'text-danger':'text-info'}}"
                           ng-if="editProjectForm.name.$error.required"
                           translate="ERROR_REQUIRED"
                           translate-value-field="{{'LABEL_NAME' | translate}}">
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{'LABEL_DESCRIPTION'|translate}}</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              ng-model="project.description" style="resize: none;"
                              required
                              name="description"
                              rows="5">
                    </textarea>
                    <small class="{{editProjectForm.submitted?'text-danger':'text-info'}}"
                           ng-if="editProjectForm.description.$error.required"
                           translate="ERROR_REQUIRED"
                           translate-value-field="{{'LABEL_DESCRIPTION' | translate}}">
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Client</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.client" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Version</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="project.version" class="form-control">
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'CLOSE'|translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="update()">{{'SAVE_CHANGES'|translate}}</button>
    </div>
</div>

