<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a href="" style="background: transparent;" ui-sref="users.profile({userId:currentUser.id})">
                        <img ui-sref="users.profile({userId:currentUser.id})"
                             alt="image" class="img-circle"
                             src="api/image/user/{{currentUser.id}}?fakeParame={{fakeParam}}'"/>
                    </a>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{currentUser.displayName}}<b class="caret"></b></strong>
                             </span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="" ui-sref="users.edit">{{'EDIT_USER_PROFILE'|translate}}</a></li>
                        <li class="divider"></li>
                        <li><a href="">{{'LOGOUT'|translate}}</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>-->
            <!--</li>-->
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-cubes"></i> <span
                        class="nav-label">{{'PROJECTS'|translate}}</span></a>
            </li>

            <li ng-class="{active: $state.includes('users')}">
                <a href=""><i class="fa fa-users"></i> <span class="nav-label">{{'LABEL_CONTACTS'|translate}}</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('users')}">
                    <li ui-sref-active="active"><a ui-sref="users.contacts">{{'LABEL_MY_CONTACTS'|translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.other-users">{{'LABEL_FIND_NEW_CONTACTS' +
                        ''|translate}}</a></li>
                </ul>
            </li>

            <li ui-sref-active="active" ng-show="currentUser.role=='ADMINISTRATOR'">
                <a ui-sref="admin.users"><i class="glyphicon glyphicon-eye-open"></i> <span
                        class="nav-label">{{'LABEL_USERS'|translate}}</span></a>
            </li>
        </ul>

    </div>
</nav>