<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="api/image/user/{{currentUser.id}}"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{currentUser.displayName}}<b class="caret"></b></strong>
                             </span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>-->
            <!--</li>-->
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-cubes"></i> <span class="nav-label">Projects</span></a>
            </li>

            <li ng-class="{active: $state.includes('users')}">
                <a href=""><i class="fa fa-users"></i> <span class="nav-label">{{'LABEL_CONTACTS'|translate}}</span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('users')}">
                    <li ui-sref-active="active"><a ui-sref="users.contacts">{{'LABEL_MY_CONTACTS'|translate}}</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.other-users">{{'LABEL_FIND_NEW_CONTACTS' +
                        ''|translate}}</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>