<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                           id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    {{'LANGUAGE'|translate}}
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs" ng-controller="TranslateController">
                    <li><a ng-click="changeLanguage('en')">English</a></li>
                    <li><a ng-click="changeLanguage('bs')">Bosnian</a></li>
                </ul>
            </li>
            <li ng-controller="MessagesCountController">
                <a href="" class=" count-info" ui-sref="users.chat">
                    <i class="fa fa-envelope"></i> <span ng-show="unread.count>0" class="label label-primary">{{unread.count}}</span>
                </a>
            </li>
            <li class="dropdown" dropdown ng-controller="NotificationController">
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    <i class="fa fa-bell"></i> <span ng-show="notifications.length>0" class="label label-primary">{{notifications.length}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts" style="width: 400px;">
                    <li ng-repeat="notification in notifications">
                        <a ui-sref="inbox">
                            <div ng-show="notification.type=='CONTACT'" style="height: 40px;">
                                <img alt="image" style="width: 32px;height: 32px;" class="img-circle"
                                     ng-src="api/image/user/{{notification.contact.sender.id}}">
                                <span>
                                    {{notification.contact.sender.displayName}}
                                    {{'SENT_YOU_CONTACT_REQUEST'|translate}}
                                    <a ng-click="resolveContact(notification.id,'true')" style="padding-top: 7px;"
                                       class="pull-right"><i class="glyphicon glyphicon-ok"></i></a>
                                    <a ng-click="resolveContact(notification.id,'false')"
                                       style="padding-top: 7px;padding-right: 0px;" class="pull-right"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </span>
                                <span class="pull-right text-muted small">{{notification.created| date:'dd.MM.yyyy HH:mm'}}</span>
                            </div>
                            <!--<div>-->
                            <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        </a>
                    </li>
                    <li ng-if="notifications.length==0 || showNoNotificationMessage">
                        <a ui-sref="inbox">
                            <div style="text-align: center;">
                                {{'MESSAGE_NO_NOTIFICATIONS'| translate}}
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="miscellaneous.notify">
                                <strong>See All Notifications</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>

                    <!--<li>-->
                    <!--<a ui-sref="inbox">-->
                    <!--<div>-->
                    <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                    <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<div class="text-center link-block">-->
                    <!--<a ui-sref="miscellaneous.notify">-->
                    <!--<strong>See All Alerts</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </li>
            <li>
                <a href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>