<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-6" ng-controller="NavigationHelpController">
        <h2>Project detail</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a ui-sref="index.projects">Project list</a>
            </li>
            <li>
                <a ui-sref="index.project-details({projectId:projectId})">Project details</a>
            </li>
            <li>
                <a ui-sref="index.issue-tracker({projectId:projectId})">Tasks</a>
            </li>
            <li class="active">
                <strong>Task details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="TaskDetailController">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a ng-show="projectOwner.id==currentUser.id||(task.user.id==currentUser.id&&project.status=='ACTIVE')"
                                   ng-click="editTask()" class="btn btn-primary btn-sm pull-right">Edit</a>
                                <!--<a style="margin-right: 5px;" ui-sref="index.issue-tracker({projectId:project.id})" class="btn btn-white btn-sm pull-right">Tasks</a>-->

                                <!--<div class="btn-group pull-right" style="margin-right: 5px;" dropdown>-->
                                <!--<button type="button" class="btn btn-white btn-sm dropdown-toggle" dropdown-toggle>-->
                                <!--Tasks <span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><a >Agile board</a></li>-->
                                <!--<li><a ui-sref="index.issue-tracker({projectId:project.id})">Task list</a></li>-->
                                <!--&lt;!&ndash;<li><a href="">Something else here</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="">Separated link</a></li>&ndash;&gt;-->
                                <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd ng-show="task.status=='TODO'">{{'LABEL_ACTIVE'|translate}}
                                    <a ng-show="projectOwner.id==currentUser.id||(task.user.id==currentUser.id&&project.status=='ACTIVE')"
                                       ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dd ng-show="task.status=='IN_PROGRESS'">{{'LABEL_IN_PROGRESS'|translate}}
                                    <a ng-show="projectOwner.id==currentUser.id||(task.user.id==currentUser.id&&project.status=='ACTIVE')"
                                       ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dd ng-show="task.status=='COMPLETED'">{{'LABEL_COMPLETED'|translate}}
                                    <a ng-show="projectOwner.id==currentUser.id||(task.user.id==currentUser.id&&project.status=='ACTIVE')"
                                       ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dt>Name:</dt>
                                <dd>{{task.name}}</dd>
                                <dt>Created by:</dt>
                                <dd><a class="text-navy">{{task.createdBy.displayName}}</a></dd>
                                <dt>Assign to:</dt>
                                <dd><a class="text-navy">{{task.user.displayName}}</a>
                                    <a ng-show="projectOwner.id==currentUser.id||(task.user.id==currentUser.id&&project.status=='ACTIVE')"
                                       ng-click="changeAssignment()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Updated:</dt>
                                <dd>{{task.updated | date:"dd.MM.yyyy HH:mm"}}</dd>
                                <dt>{{'LABEL_CREATED'|translate}}:</dt>
                                <dd>{{task.created | date:"dd.MM.yyyy HH:mm"}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Description:</dt>
                                <dd>
                                    <span>{{task.description}}</span>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">

                                <tabset>
                                    <tab heading="{{'LABEL_COMMENTS'|translate}}" active="tab.active" class="dsads">
                                        <div class="social-footer social-footer-default"
                                             ng-controller="TaskCommentsController">
                                            <div class="social-comment" ng-repeat="taskComment in taskComments">
                                                <a href="" class="pull-left">
                                                    <img alt="image"
                                                         ng-src="api/image/user/{{taskComment.comment.user.id}}">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">
                                                        {{taskComment.comment.user.displayName}}
                                                    </a>
                                                    {{taskComment.comment.content}}
                                                    <br/>
                                                    <small class="text-muted">{{taskComment.comment.created |
                                                        date:"dd.MM.yyyy HH:mm"}}
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                    <img alt="image" ng-src="api/image/user/{{currentUser.id}}">
                                                </a>
                                                <div class="media-body">
                                                    <textarea ng-enter="createComment()" ng-model="newComment.content"
                                                              class="form-control"
                                                              placeholder="Write comment..."></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </tab>
                                    <tab heading="{{'LABEL_ATTACHMENTS'|translate}}">
                                        <div class="input-group" style="width: 100%;">
                                            <input type="text"
                                                   ng-model="searchBox.value"
                                                   placeholder="Search"
                                                   class="input-sm form-control"/>
                                        </div>
                                        <div>
                                            <table class="table table-hover issue-tracker">
                                                <tbody>
                                                <tr>
                                                    <th>File name</th>
                                                    <th>Created</th>
                                                    <th>Uploader</th>
                                                    <th>Size</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr ng-repeat="taskFile in taskFiles|filter:fileFilter">
                                                    <td>
                                                        {{taskFile.fileName}}
                                                    </td>
                                                    <td>
                                                        {{taskFile.created|date:"dd.MM.yyyy HH:mm"}}
                                                    </td>
                                                    <td>
                                                        {{taskFile.user.displayName}}
                                                    </td>
                                                    <td>
                                                        {{convert(taskFile.size)}}
                                                    </td>
                                                    <td>
                                                        <a href="api/files/task/{{taskFile.id}}/content">Download</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr/>
                                        <form ng-controller="FileUploadController">
                                            <div class="input-group" style="width: 350px; border: 1px solid #e5e6e7;">
                                                <input type="file" style="border: none;" class="form-control"
                                                       file-model="files"/>
                                                <span style="border: none;" class="input-group-addon">
                                                    <div ng-show="showLoading"
                                                         class="sk-spinner sk-spinner-fading-circle">
                                                        <div class="sk-circle1 sk-circle"></div>
                                                        <div class="sk-circle2 sk-circle"></div>
                                                        <div class="sk-circle3 sk-circle"></div>
                                                        <div class="sk-circle4 sk-circle"></div>
                                                        <div class="sk-circle5 sk-circle"></div>
                                                        <div class="sk-circle6 sk-circle"></div>
                                                        <div class="sk-circle7 sk-circle"></div>
                                                        <div class="sk-circle8 sk-circle"></div>
                                                        <div class="sk-circle9 sk-circle"></div>
                                                        <div class="sk-circle10 sk-circle"></div>
                                                        <div class="sk-circle11 sk-circle"></div>
                                                        <div class="sk-circle12 sk-circle"></div>
                                                    </div>
                                                </span>
                                                <button class="btn btn-primary form-control"
                                                        style="border: none;background-color: #1ab394;color: white;"
                                                        ng-click="uploadFile('task')">{{'LABEL_UPLOAD'|translate}}
                                                </button>
                                                <li ng-show="false" ng-repeat="file in files">{{file.name}}</li>
                                            </div>
                                        </form>
                                    </tab>

                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-3">-->
    <!--<div class="wrapper wrapper-content project-manager">-->

    <!--<div class="btn-group" dropdown>-->
    <!--<button type="button" class="btn btn-white btn-xs dropdown-toggle" dropdown-toggle>-->
    <!--Issues<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li><a href="">Action</a></li>-->
    <!--<li><a href="">Another action</a></li>-->
    <!--<li><a href="">Something else here</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li><a href="">Separated link</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--<h4>Project description</h4>-->
    <!--&lt;!&ndash;<img src="public/img/default_logo.png" class="img-responsive">&ndash;&gt;-->

    <!--<p class="small">-->
    <!--{{project.description}}-->
    <!--</p>-->
    <!--<hr style="width: 100%; color: black; height: 1px; background-color:#999999;" />-->
    <!--<p class="small font-bold">-->
    <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
    <!--</p>-->
    <!--<h5>Project tag</h5>-->
    <!--<ul class="tag-list" style="padding: 0">-->
    <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
    <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
    <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
    <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
    <!--</ul>-->
    <!--<h5>Project files</h5>-->
    <!--<ul class="list-unstyled project-files">-->
    <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
    <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
    <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
    <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
    <!--</ul>-->
    <!--<div class="text-center m-t-md">-->
    <!--<a href="" class="btn btn-xs btn-primary">Add files</a>-->
    <!--<a href="" class="btn btn-xs btn-primary">Report contact</a>-->

    <!--</div>-->
    <!--<h5>Assign to</h5>-->
    <!--<ul class="list-unstyled project-files project-details-people">-->
    <!--<li><a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>{{task.user.displayName}}</li>-->
    <!--</ul>-->
    <!--<a href="" style="width: 100%;" class="btn btn-primary btn-xs">Change assignment</a>-->

    <!--</div>-->
    <!--</div>-->
</div>
