<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" ng-controller="NavigationHelpController">
        <h2>{{'TASKS'|translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">{{'HOME'|translate}}</a>
            </li>
            <li>
                <a ui-sref="index.projects">{{'PROJECT_LIST'|translate}}</a>
            </li>
            <li>
                <a ui-sref="index.project-details({projectId:projectId})">{{'PROJECT_DETAILS'|translate}}</a>
            </li>
            <li class="active">
                <strong>{{'TASKS'|translate}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="TasksController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'ISSUE_LIST'|translate}}</h5>
                    <div class="ibox-tools">
                        <a href="" ng-show="projectOwner.id==currentUser.id" ng-click="openCreateTaskModal()"
                           class="btn btn-primary btn-xs">{{'ADD_NEW_TASK'|translate}}</a>
                    </div>
                </div>
                <div class="table-responsive ibox-content">
                    <!--<input type="text" class="form-control input-sm m-b-xs" id="filter"-->
                    <!--placeholder="Search in table">-->

                    <table st-table="tasksTable" st-safe-src="tasks" class="table table-hover table-striped">
                        <thead>
                        <tr class="st-sort-header-column">
                            <th st-sort-default="default" st-sort="name">{{'LABEL_NAME'|translate}}</th>
                            <th st-sort="created">{{'LABEL_CREATED'|translate}}</th>
                            <th st-sort="updated">{{'UPDATED'|translate}}</th>
                            <th st-sort="user.displayName">{{'USER'|translate}}</th>
                            <th st-sort="status">{{'LABEL_STATUS'|translate}}</th>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <input type="text" st-search="name" placeholder="{{'LABEL_NAME'|translate}}"
                                       class="input-sm form-control">
                            </th>

                            <th>
                                <input type="text" st-search="user.displayName" placeholder="{{'LABEL_USER'|translate}}"
                                       class="input-sm form-control">
                            </th>

                            <th colspan="2">
                                <select name="status"
                                        class="form-control input-sm"
                                        style="font-weight: normal;"
                                        st-search="status">
                                    <option value="">{{'ALL' | translate}}</option>
                                    <option ng-repeat="row in tasks | unique:'status'"
                                            value="{{row.status}}">
                                        {{row.status|translate}}
                                    </option>
                                </select>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in tasksTable track by task.id" foo-repeat-done>
                            <td>{{task.name}}</td>
                            <td>{{task.created | date:"dd.MM.yyyy HH:mm"}}</td>
                            <td>{{task.updated | date:"dd.MM.yyyy HH:mm"}}</td>
                            <td>{{task.user.displayName}}</td>
                            <td ng-if="task.status=='TODO'">
                                To Do
                            </td>
                            <td ng-if="task.status=='IN_PROGRESS'">
                                In progress
                            </td>
                            <td ng-if="task.status=='COMPLETED'">
                                Completed
                            </td>
                            <td class="project-actions">
                                <a href="" ui-sref="index.task-details({projectId:project.id,taskId:task.id})"
                                   class="btn btn-white btn-sm"><i class="fa fa-folder"></i> {{'LABEL_VIEW'|translate}}
                                </a>
                                <a ng-click="editTask(task.id)"
                                   ng-show="projectOwner.id==currentUser.id||currentUser.id==task.user.id"
                                   class="btn btn-white btn-sm"><i
                                        class="fa fa-pencil"></i> {{'EDIT'|translate}} </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr ng-if="tasksTable.length == 0">
                            <td colspan="6" class="text-center no-data">
                                <div>{{'NO_DATA' | translate}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="4"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>