<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project list</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main" href="">Home</a>
            </li>
            <li class="active">
                <strong>Project list</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row" ng-controller="ProjectController">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All projects assigned to this account</h5>

                    <div class="ibox-tools">
                        <a href="" ng-click="open()" class="btn btn-primary btn-xs">Create new project</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button ng-click="refresh()" type="button" id="loading-example-btn"
                                    class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh
                            </button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group" style="width: 100%;"><input type="text" ng-model="searchBox"
                                                                                 placeholder="Search"
                                                                                 class="input-sm form-control"></div>
                            <!--<div class="input-group"><input type="text" ng-model="searchBox" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="project in projects">
                                <td class="project-status">
                                    <span ng-if="project.status=='ACTIVE'" class="label label-primary">{{'LABEL_ACTIVE'|translate}}</span>
                                    <span ng-if="project.status=='INACTIVE'" class="label label-default">{{'LABEL_INACTIVE'|translate}}</span>
                                </td>
                                <td class="project-title">
                                    <a ui-sref="project_detail">{{project.name}}</a>
                                    <br/>
                                    <small>
                                        {{'LABEL_CREATED'|translate}} {{project.createdDate | date:"dd.MM.yyyy hh:mm"}}
                                    </small>
                                </td>
                                <td class="project-completion">
                                    <small>Completion with: 48%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </td>
                                <!--<td class="project-people">-->
                                <!--<a href=""><img alt="image" ng-repeat="member in project.members" class="img-circle"-->
                                <!--src="api/image/user/{{member.user.id}}"></a>-->
                                <!--</td>-->
                                <td class="project-actions">
                                    <a href="" ui-sref="index.project-details({projectId:project.id})"
                                       class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                    <a class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>