<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project detail</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a ui-sref="index.projects">Project list</a>
            </li>
            <li class="active">
                <strong>Project details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="ProjectDetailsController">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a ng-click="editProject()" class="btn btn-white btn-sm pull-right">Edit project</a>
                                <a style="margin-right: 5px;" ui-sref="index.issue-tracker({projectId:project.id})"
                                   class="btn btn-white btn-sm pull-right">Tasks</a>

                                <!--<div class="btn-group pull-right" style="margin-right: 5px;" dropdown>-->
                                <!--<button type="button" class="btn btn-white btn-sm dropdown-toggle" dropdown-toggle>-->
                                <!--Tasks <span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><a >Agile board</a></li>-->
                                <!--<li><a ui-sref="index.issue-tracker({projectId:project.id})">Task list</a></li>-->
                                <!--&lt;!&ndash;<li><a href="">Something else here</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="">Separated link</a></li>&ndash;&gt;-->
                                <!--</ul>-->
                                <!--</div>-->

                                <h2 ng-show="project.client">Contract with {{project.client}}</h2>
                                <h2 ng-show="!project.client">Contract</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd ng-show="project.status=='ACTIVE'">{{'LABEL_ACTIVE'|translate}}
                                    <a ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dd ng-show="project.status=='INACTIVE'">{{'LABEL_INACTIVE'|translate}}
                                    <a ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dt>Name:</dt>
                                <dd>{{project.name}}</dd>
                                <dt>Created by:</dt>
                                <dd>{{projectOwner.displayName}}</dd>
                                <dt>Client:</dt>
                                <dd><a class="text-navy">{{project.client}}</a></dd>
                                <dt>Version:</dt>
                                <dd>{{project.version}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last Updated:</dt>
                                <dd>16.08.2014 12:15:57</dd>
                                <dt>{{'LABEL_CREATED'|translate}}:</dt>
                                <dd>{{project.createdDate | date:"dd.MM.yyyy HH:mm"}}</dd>
                                <!--<dt>Participants:</dt>-->
                                <!--<dd class="project-people">-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--</dd>-->
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                    <small>Project completed in <strong>60%</strong>. Remaining close the project, sign
                                        a contract and invoice.
                                    </small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">

                                <tabset>
                                    <tab heading="{{'LABEL_COMMENTS'|translate}}" active="tab.active" class="dsads">
                                        <div class="social-footer social-footer-default"
                                             ng-controller="TaskCommentsController">
                                            <div class="social-comment" ng-repeat="taskComment in taskComments">
                                                <a href="" class="pull-left">
                                                    <img alt="image" src="public/img/default-profile.png">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">
                                                        {{taskComment.comment.user.displayName}}
                                                    </a>
                                                    {{taskComment.comment.content}}
                                                    <br/>
                                                    <small class="text-muted">{{taskComment.comment.created |
                                                        date:"dd.MM.yyyy HH:mm"}}
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                    <img alt="image" src="public/img/default-profile.png">
                                                </a>
                                                <div class="media-body">
                                                    <textarea ng-enter="createComment()" ng-model="newComment.content"
                                                              class="form-control"
                                                              placeholder="Write comment..."></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </tab>
                                    <tab heading="{{'LABEL_ATTACHMENTS'|translate}}">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Create project in webapp
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of
                                                        letters, as opposed to using 'Content here, content here',
                                                        making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    Various versions
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Various versions have evolved over the years, sometimes by
                                                        accident, sometimes on purpose (injected humour and the like).
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    There are many variations
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    Latin words
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Latin words, combined with a handful of model sentence
                                                        structures
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                                </td>
                                                <td>
                                                    The generated Lorem
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The generated Lorem Ipsum is therefore always free from
                                                        repetition, injected humour, or non-characteristic words etc.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    The first line
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                                                        comes from a line in section 1.10.32.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                                </td>
                                                <td>
                                                    The standard chunk
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        The standard chunk of Lorem Ipsum used since the 1500s is
                                                        reproduced below for those interested.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                                </td>
                                                <td>
                                                    Lorem Ipsum is that
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Lorem Ipsum is that it has a more-or-less normal distribution of
                                                        letters, as opposed to using 'Content here, content here',
                                                        making it look like readable.
                                                    </p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                </td>
                                                <td>
                                                    Contrary to popular
                                                </td>
                                                <td>
                                                    12.07.2014 10:10:1
                                                </td>
                                                <td>
                                                    14.07.2014 10:16:36
                                                </td>
                                                <td>
                                                    <p class="small">
                                                        Contrary to popular belief, Lorem Ipsum is not simply random
                                                        text. It has roots in a piece of classical
                                                    </p>
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </tab>

                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">

            <!--<div class="btn-group" dropdown>-->
            <!--<button type="button" class="btn btn-white btn-xs dropdown-toggle" dropdown-toggle>-->
            <!--Issues<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="">Action</a></li>-->
            <!--<li><a href="">Another action</a></li>-->
            <!--<li><a href="">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="">Separated link</a></li>-->
            <!--</ul>-->
            <!--</div>-->

            <h4>Project description</h4>
            <!--<img src="public/img/default_logo.png" class="img-responsive">-->

            <p class="small">
                {{project.description}}
            </p>
            <hr style="width: 100%; color: black; height: 1px; background-color:#999999;"/>
            <!--<p class="small font-bold">-->
            <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
            <!--</p>-->
            <!--<h5>Project tag</h5>-->
            <!--<ul class="tag-list" style="padding: 0">-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
            <!--</ul>-->
            <!--<h5>Project files</h5>-->
            <!--<ul class="list-unstyled project-files">-->
            <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
            <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
            <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
            <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
            <!--</ul>-->
            <!--<div class="text-center m-t-md">-->
            <!--<a href="" class="btn btn-xs btn-primary">Add files</a>-->
            <!--<a href="" class="btn btn-xs btn-primary">Report contact</a>-->

            <!--</div>-->
            <h5>{{'LABEL_PARTICIPANTS' | translate}}</h5>
            <ul class="list-unstyled project-files project-details-people">
                <li ng-repeat="member in projectMembers"><a href=""><img alt="image" class="img-circle"
                                                                         src="api/image/user/{{member.user.id}}"></a>
                    {{member.user.displayName}}
                </li>
            </ul>
            <a href="" ui-sref="index.project-participants({projectId:project.id})" style="width: 100%;"
               class="btn btn-primary btn-xs">
                {{'LABEL_EDIT_PARTICIPANTS'|translate}}
            </a>

        </div>
    </div>
</div>
