<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{'PROJECT_DETAILS'|translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">{{'HOME'|translate}}</a>
            </li>
            <li>
                <a ui-sref="index.projects">{{'PROJECT_LIST'|translate}}</a>
            </li>
            <li class="active">
                <strong>{{'PROJECT_DETAILS'|translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-controller="ProjectDetailsController">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row" style="background-color: white;">
                        <div class="col-lg-12">
                            <div class="m-b-md">


                                <a ng-click="editProject()" ng-show="projectOwner.id==currentUser.id"
                                   class="btn btn-primary btn-sm pull-right">{{'EDIT_PROJECT'|translate}}</a>
                                <a style="margin-right: 5px;" href="/api/files/report/{{project.id}}"
                                   class="btn btn-primary btn-sm pull-right">{{'GENERATE_REPORT'|translate}}</a>
                                <a style="margin-right: 5px;" ui-sref="index.issue-tracker({projectId:project.id})"
                                   class="btn btn-primary btn-sm pull-right">{{'TASKS'|translate}}</a>

                                <a style="margin-right: 5px;" ui-sref="index.project-agile({projectId:project.id})"
                                   class="btn btn-primary btn-sm pull-right">{{'MY_AGILE_BOARD'|translate}}</a>

                                <!--<div class="btn-group pull-right" style="margin-right: 5px;" dropdown>-->
                                <!--<button type="button" class="btn btn-white btn-sm dropdown-toggle" dropdown-toggle>-->
                                <!--Tasks <span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><a >Agile board</a></li>-->
                                <!--<li><a ui-sref="index.issue-tracker({projectId:project.id})">Task list</a></li>-->
                                <!--&lt;!&ndash;<li><a href="">Something else here</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="">Separated link</a></li>&ndash;&gt;-->
                                <!--</ul>-->
                                <!--</div>-->

                                <h2 ng-show="project.client">{{'CONTRACT_WITH'|translate}} {{project.client}}</h2>
                                <h2 ng-show="!project.client">{{'CONTRACT'|translate}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd ng-show="project.status=='ACTIVE'">{{'LABEL_ACTIVE'|translate}}
                                    <a ng-show="projectOwner.id==currentUser.id" ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dd ng-show="project.status=='INACTIVE'">{{'LABEL_INACTIVE'|translate}}
                                    <a ng-show="projectOwner.id==currentUser.id" ng-click="changeStatus()"><i
                                            class="fa fa-edit"></i></a>
                                </dd>
                                <dt>{{'LABEL_NAME'|translate}}:</dt>
                                <dd>{{project.name}}</dd>
                                <dt>{{'CREATED_BY'|translate}}:</dt>
                                <dd>{{projectOwner.displayName}}</dd>
                                <dt>{{'CLIENT'|translate}}:</dt>
                                <dd><a class="text-navy">{{project.client}}</a></dd>
                                <dt>{{'VERSION'|translate}}:</dt>
                                <dd>{{project.version}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>{{'LABEL_LAST_UPDATED'|translate}}:</dt>
                                <dd>{{project.updated | date:"dd.MM.yyyy HH:mm"}}</dd>
                                <dt>{{'LABEL_CREATED'|translate}}:</dt>
                                <dd>{{project.createdDate | date:"dd.MM.yyyy HH:mm"}}</dd>
                                <!--<dt>Participants:</dt>-->
                                <!--<dd class="project-people">-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="public/img/default-profile.png"></a>-->
                                <!--</dd>-->
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>{{'LABEL_COMPLETED_TRANSLATED'|translate}}:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width:{{otherInformations.percentage}}%;"
                                             class="progress-bar"></div>
                                    </div>
                                    <small>{{'PROJECT_COMPLETED_IN'|translate}} <strong>{{otherInformations.percentage}}%</strong>.
                                        {{'PROJECT_PERCENTAGE_MESSAGE_1'|translate}}
                                    </small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">

                                <tabset>
                                    <tab heading="{{'LABEL_COMMENTS'|translate}}" active="tab.active" class="dsads">
                                        <div class="social-footer social-footer-default"
                                             ng-controller="ProjectCommentsController">
                                            <div class="social-comment" ng-repeat="projectComment in projectComments">
                                                <a href="" class="pull-left">
                                                    <img alt="image"
                                                         ng-src="api/image/user/{{projectComment.comment.user.id}}">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">
                                                        {{projectComment.comment.user.displayName}}
                                                    </a>
                                                    {{projectComment.comment.content}}
                                                    <br/>
                                                    <small class="text-muted">{{projectComment.comment.created |
                                                        date:"dd.MM.yyyy HH:mm"}}
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                    <img alt="image" ng-src="api/image/user/{{currentUser.id}}">
                                                </a>
                                                <div class="media-body">
                                                    <textarea ng-enter="createComment()" ng-model="newComment.content"
                                                              class="form-control"
                                                              placeholder="{{'WRITE_COMMENT'|translate}}..."></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </tab>
                                    <tab heading="{{'LABEL_ATTACHMENTS'|translate}}">

                                        <div class="input-group" style="width: 100%;">
                                            <input type="text"
                                                   ng-model="searchBox.value"
                                                   placeholder="{{'LABEL_SEARCH'|translate}}"
                                                   class="input-sm form-control"/>
                                        </div>
                                        <div>
                                            <table class="table table-hover issue-tracker">
                                                <tbody>
                                                <tr>
                                                    <th>{{'FILE_NAME'|translate}}</th>
                                                    <th>{{'LABEL_CREATED'|translate}}</th>
                                                    <th>{{'UPLOADER'|translate}}</th>
                                                    <th>{{'SIZE'|translate}}</th>
                                                    <th>{{'ACTIONS'|translate}}</th>
                                                </tr>
                                                <tr ng-repeat="projectFile in projectFiles|filter:fileFilter">
                                                    <td>
                                                        {{projectFile.fileName}}
                                                    </td>
                                                    <td>
                                                        {{projectFile.created|date:"dd.MM.yyyy HH:mm"}}
                                                    </td>
                                                    <td>
                                                        {{projectFile.user.displayName}}
                                                    </td>
                                                    <td>
                                                        {{convert(projectFile.size)}}
                                                    </td>
                                                    <td>
                                                        <a href="api/files/project/{{projectFile.id}}/content">{{'DOWNLOAD'|translate}}</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr/>
                                        <form ng-controller="FileUploadController">
                                            <div class="input-group" style="width: 350px; border: 1px solid #e5e6e7;">
                                                <input type="file" style="border: none;" class="form-control"
                                                       file-model="files"/>
                                                <span style="border: none;" class="input-group-addon">
                                                    <div ng-show="showLoading"
                                                         class="sk-spinner sk-spinner-fading-circle">
                                                        <div class="sk-circle1 sk-circle"></div>
                                                        <div class="sk-circle2 sk-circle"></div>
                                                        <div class="sk-circle3 sk-circle"></div>
                                                        <div class="sk-circle4 sk-circle"></div>
                                                        <div class="sk-circle5 sk-circle"></div>
                                                        <div class="sk-circle6 sk-circle"></div>
                                                        <div class="sk-circle7 sk-circle"></div>
                                                        <div class="sk-circle8 sk-circle"></div>
                                                        <div class="sk-circle9 sk-circle"></div>
                                                        <div class="sk-circle10 sk-circle"></div>
                                                        <div class="sk-circle11 sk-circle"></div>
                                                        <div class="sk-circle12 sk-circle"></div>
                                                    </div>
                                                </span>
                                                <button class="btn btn-primary form-control"
                                                        style="border: none;background-color: #1ab394;color: white;"
                                                        ng-click="uploadFile('project')">{{'LABEL_UPLOAD'|translate}}
                                                </button>
                                                <li ng-show="false" ng-repeat="file in files">{{file.name}}</li>
                                            </div>
                                        </form>

                                    </tab>

                                </tabset>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager">

            <!--<div class="btn-group" dropdown>-->
            <!--<button type="button" class="btn btn-white btn-xs dropdown-toggle" dropdown-toggle>-->
            <!--Issues<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="">Action</a></li>-->
            <!--<li><a href="">Another action</a></li>-->
            <!--<li><a href="">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="">Separated link</a></li>-->
            <!--</ul>-->
            <!--</div>-->

            <h4>{{'PROJECT_DESCRIPTION'|translate}}</h4>
            <!--<img src="public/img/default_logo.png" class="img-responsive">-->

            <p class="small">
                {{project.description}}
            </p>
            <hr style="width: 100%; color: black; height: 1px; background-color:#999999;"/>
            <!--<p class="small font-bold">-->
            <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
            <!--</p>-->
            <!--<h5>Project tag</h5>-->
            <!--<ul class="tag-list" style="padding: 0">-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
            <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
            <!--</ul>-->
            <!--<h5>Project files</h5>-->
            <!--<ul class="list-unstyled project-files">-->
            <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
            <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
            <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
            <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
            <!--</ul>-->
            <!--<div class="text-center m-t-md">-->
            <!--<a href="" class="btn btn-xs btn-primary">Add files</a>-->
            <!--<a href="" class="btn btn-xs btn-primary">Report contact</a>-->

            <!--</div>-->
            <h5>{{'LABEL_PARTICIPANTS' | translate}}</h5>
            <ul class="list-unstyled project-files project-details-people">
                <li ng-repeat="member in projectMembers">
                    <a href="" ui-sref="users.profile({userId:member.user.id})"><img alt="image" class="img-circle"
                                                                                     ng-src="api/image/user/{{member.user.id}}">
                        {{member.user.displayName}}</a>

                </li>
            </ul>
            <a href="" ng-show="projectOwner.id==currentUser.id"
               ui-sref="index.project-participants({projectId:project.id})" style="width: 100%;"
               class="btn btn-primary btn-xs">
                {{'LABEL_EDIT_PARTICIPANTS'|translate}}
            </a>

        </div>
    </div>
</div>
